html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.container {
    // width: 100vw;
    // height: 100vh;

    .containerWrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .sidebar {
            background: #191718;
            color: #fff;
            width: 30%;
            height: 100vh;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            // align-items: center;

            li {
                list-style: none;
                padding: 0.5rem 2rem 0.5rem 1rem;
                text-align: left;
                border-bottom: 1px solid #5C5C5C;
                font-family: 'Roboto';
                // font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                /* identical to box height */
                color: #AAAAAA;

                &:hover {
                    background: #5C5C5C;
                    color: #fff;
                }
            }

        }

        .content {
            display: flex;
            flex-direction: column;
            padding: 1rem 0;
            // width: 70%;
            height: 100%;

            .headerContent {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 200px;
                    
                }
            }

            .bodyContent {
                padding: 0 5rem;

                .textContent {
                    background: #EFEFEF;
                    text-align: center;
                    padding: 0.5rem 4rem;
                    margin: 1rem 0;

                    h3 {
                        font-weight: 700;
                        font-size: 14px;
                        font-style: bold;
                    }

                    p {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                .cardWrapper {
                    display: flex;
                    flex-direction: row;
                    .cardItem{
                        .cardTitle{
                            font-weight: 700;
                        }
                        margin: 0.5rem;
                        .cardContent{
                            .cardImg{
                                height: px;
                                aspect-ratio: 1;
                                float: left;
                                margin: 0.3rem;
                                // transform: translateY(-1.5rem);
                                img{
                                    width: 100%;
                                    object-fit: contain;
                                }
                            }
                            .cardDesc{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .footerContent{
                width: 100%;
                padding: 1rem 5rem;
                border-top: 1px solid #DEDEDE;
                font-weight: 400;
                font-size: 14px;
                color: #3E3E3E
                ;
            }
        }
    }
}